header{
  background-color: rgba(255, 0, 0, 0.596);
  height: 50vh;
  text-align: center;
  font-family: 'Libre Barcode 39 Text', cursive;
  color: white;
font-size: 40px;
font-weight: bolder;
display: flex;
justify-content: center;
align-items: center;
grid-column: 1/-1;
grid-row: 1/2;
}

body{
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 33% 33% 34%;
    
}
.bottom{
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 50vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  grid-row: 2/2;
  grid-column: 1/-1;
}
#left{
  height: 50px;
  width: 100%;
  background-color: rgba(196, 177, 177, 0.856);
  margin-top: 75px;
  display: grid;
  grid-row: 2/3 1fr;
  grid-column: 1/2 1fr;
justify-content: center; 
align-items: center; 

  
  

}
div{
  color: rgb(253, 2, 2);
    text-align: center;
    justify-content: center;
    margin: 5px;
    width: 100%;
 

    



}
#middle{
  height: 50px;
  width: 100%;
  background-color: rgba(196, 177, 177, 0.856);
  margin-top: 75px;
  align-content: center;
  display: grid;
  grid-row: 2/3 1fr;
  grid-column: 2/3 1fr;
  justify-content: center;
  align-items: center; 
  

}
#right{
  height: 50px;
  width: 100%;
  background-color: rgba(196, 177, 177, 0.856);
  margin-top: 75px;
  display: grid;
  grid-row: 2/3 1fr;
  grid-column: 3/4 1fr;
  justify-content: center;  
  align-items: center; 



}
@media (max-width: 576px){
  section.bottom{
    display: grid;
    border-top: black;
    grid-template-columns: 1fr;
  width: 100%;
  }
  
  #right{
    width: 100%;
    color: black;
  }
  #left{
  width: 100%;
  }
  #middle{
    width: 100%;
    }
  
    div{
      align-content: center;
      justify-content: center;
      width: 97%;
      color: rgba(7, 0, 0, 0.856);
      margin: 5px;
      
    }

 
}
   
 